extends layout

block content
  div.uk-grid.uk-height-1-1
    div.uk-width-1-3.uk-height-1-1 &nbsp;
    div.uk-width-1-3.uk-height-1-1
      div.uk-vertical-align.uk-height-1-1
        div.uk-vertical-align-middle
          div.uk-alert.uk-alert-success
            | Вам отправлено письмо с вашим логином и паролем
    div.uk-width-1-3.uk-height-1-1 &nbsp;
