extends layout

block content
  div.uk-grid.uk-height-1-1
    div.uk-width-1-3.uk-height-1-1 &nbsp;
    div.uk-width-1-3.uk-height-1-1
      div.uk-vertical-align.uk-height-1-1
        div.uk-vertical-align-middle
          form.uk-form(action="/signup", method="post")
            fieldset(data-uk-margin)
              legend Регистрация
              div.uk-form-icon
                i.uk-icon-envelope
                input.uk-form-width-medium.uk-margin-small-right(type="text", placeholder="E-mail", name="email")
                button.uk-button Зарегистрироваться
    div.uk-width-1-3.uk-height-1-1 &nbsp;
